*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    padding:2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    
}

.container {
    width: 95%;
    max-width: 1440px;
    padding: 2em;
    background-image: url(/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-position-y: -1em;
    z-index: -2;
}

.testimonial-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position:top left;
    position: relative;
}

.bio {
    display:block;
    position: relative;
    width: 95%;
}

.description {
    font-weight: 100;
    width: 120%;
    font-size: 32px;
    color: gray;
    z-index: 2;
}

.description-two {
    margin-top: 1em;
    width: 50%;
    display: flex;
}

.two {
    width: 80%;
}

.description-two > h6:nth-of-type(1){
    font-weight: 700;
}


.description-two > h6:nth-of-type(2){
    font-weight: 100;
    color: gray;
    margin-left: .5em;
}

.profile-image > .btn {
    position: relative;
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn > button {
    border-radius: 10%;
    margin-top: -4em;
    background-position: center;
    width: 3em;
    cursor: pointer;  
}

.profile-image > img {
    width: 500px;
    height: 500px;
    background-size: contain;
    position: relative;
    z-index: -1;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}