*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    padding:2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    
}

.container {
    width: 95%;
    max-width: 1440px;
    padding: 2em;
    background-image: url(/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.testimonial-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position:top left;
    border: 1px solid black;
}

.bio {
    border: 1px solid red;
    display:block;
    position: relative;
    width: 95%;
}

.description {
    font-weight: 300;
    width: 90%;
    border: 1px solid red;

}

.description-two {
    margin-top: 1em;
    width: 50%;
    display: flex;
}

.description-two > h6:nth-of-type(1){
    font-weight: 500;
}


.description-two > h6:nth-of-type(2){
    color: red;
    font-weight: 100;
    color: gray;
    margin-left: .5em;
}
.profile-image {
    border: 1px solid red;
    position: relative;
}

.profile-image > img {
    width: 400px;
    height: 400px;
    border: 1px solid blue;
    background-size: cover;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }